<h4>Registrar Entrada</h4>
<br>

<div class="form-group">
  <label for="formGroupExampleInput">Placa</label>
  <input type="text" class="form-control" id="inputPlaca" placeholder="ASD-123" [(ngModel)]="vehiculo.placa">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Cilindraje</label>
  <input type="text" class="form-control" id="inputCilindraje" placeholder="200" [(ngModel)]="vehiculo.cilindraje">
</div>
<div class="form-group">
  <label for="formGroupExampleInput2">Tipo</label>
  <input type="text" class="form-control" id="inputTipo" placeholder="Moto" [(ngModel)]="vehiculo.tipo">
</div>
<button type="button" (click)="realizarRegistro()" class="btn btn-secondary">Registrar</button>

<br><br>
<div *ngIf="mostrarMensaje" [ngClass]="registroExitoso ? 'alert alert-success': 'alert alert-danger'">
    <strong>{{mensaje}}</strong>
</div>